<ion-header>
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="form">
        <ion-item class="form-group">
            <ion-label>Email:</ion-label>
            <ion-input class="form-group-control" formControlName="email" type="email" required></ion-input>
        </ion-item>
        <ion-item class="form-group">
            <ion-label>Senha:</ion-label>
            <ion-input type="password" formControlName="password" required></ion-input>
        </ion-item>
        <p>Ainda não possui conta? Realizar <a routerLink="/register">Cadastro</a></p>
        <p (click)="changePasswordForEmailAndPassword()"><a>Esqueci a minha senha</a></p>
        <ion-button class="btn-submit" (click)="loginWithEmailAndPassword()">Login</ion-button>
        <ion-button class="btn-submit" (click)="loginWithGoogle()">Login com o Google</ion-button>
        <div id="recaptcha-container"></div>

        <ion-button (click)="loginWithPhoneNumber()">Login com Telefone</ion-button>
        <ion-button (click)="loginWithFacebook()">Login com Facebook</ion-button>
        <div id="recaptcha"></div>
    </form>
</ion-content>