<div [hidden]="user">
    <form [formGroup]="form">
        <h1>Sign In With Your Phone Number</h1>

        <label for="phone">Phone Number</label>
        <input type="text" formControlName="phoneNumber.country" class="input" placeholder="1" maxlength="2">
        <input type="text" formControlName="phoneNumber.area" class="input" placeholder="949" maxlength="3">
        <input type="text" formControlName="phoneNumber.prefix" class="input" placeholder="555" maxlength="3">
        <input type="text" formControlName="phoneNumber.line" class="input" placeholder="5555" maxlength="4">

        <div id="recaptcha-container"></div>

        <button (click)="sendLoginCode()">SMS Text Login Code</button>

        <div *ngIf="windowRef.confirmationResult">
            <label for="code">Enter your verification Code here</label><br>
            <input type="text" name="code" formControlName="verificationCode" class="input">

            <button (click)="verifyLoginCode()">VeriFy</button>
        </div>

        <div *ngIf="user">
            You have logged with your phone Number!!! UserId: {{user?.uid}}
        </div>
    </form>
</div>