<ion-header>
    <ion-toolbar>
        <ion-title>register</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form action="" [formGroup]="form">

        <ion-item>
            <label for="email">Email:</label>
            <ion-input formControlName="email" name="email" required></ion-input>
        </ion-item>

        <ion-item>
            <label for="password">Senha:</label>
            <ion-input formControlName="password" name="password" type="password" required></ion-input>
        </ion-item>

        <ion-item>
            <label for="confirmPassword">Confirmar senha:</label>
            <ion-input formControlName="confirmPassword" name="confirmPassword" type="password"></ion-input>
        </ion-item>
        <br>

        <ion-button (click)="registerWithEmailAndPassword()" [disabled]="form.invalid">Cadastrar</ion-button>
    </form>
    <ion-button (click)="registerWithGoogle()">Cadastrar-se com o Google</ion-button>

</ion-content>